<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
Esercizio:
1. Accanto a checkout, pulsante che porta a sezione/modulo per studenti/utenti
  - Pag. Homepage - Lista
  - Pag. Dettaglio
  - Pag. Lingua/Hobby (:lang/:hobby)
2. Homepage info solo anagrafica
3. Dettaglio: info complete
4. Pulsanti in Homepage tramite alert Lingue e Hobby
5. Nel dettaglio del singolo studente, cliccando sulla lingua/hobby porta a pagina con lista di studenti con quella lingua/hobby
- Param :lingua
- Servizio: salvare lingua selezionata
6. Inventarsi un form
-->