<h2>Add Student</h2>

<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
  
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  
  <div>
    <label for="surname">Surname</label>
    <input id="surname" type="text" formControlName="surname" />
  </div>
  
  <div>
    <label for="age">Age</label>
    <input id="age" type="number" formControlName="age" />
  </div>
  
  <div>
    <label for="country">Country</label>
    <input id="country" type="text" formControlName="country" />
  </div>
  
  <button class="button" type="submit">
    Aggiungi
  </button>
</form>
