<h2>{{ student ? 'Edit' : 'Add' }} Student</h2>

<ng-container *ngIf="showForm">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
  
    <div>
      <label for="surname">Surname</label>
      <input id="surname" type="text" formControlName="surname" />
    </div>
  
    <div>
      <label for="age">Age</label>
      <input id="age" type="number" formControlName="age" />
    </div>
  
    <div formGroupName="location">

      <h3>Location</h3>

      <label for="city">City</label>
      <input id="city" type="text" formControlName="city" />

      <label for="country">Country</label>
      <input id="country" type="text" formControlName="country" />

    </div>
  
    <button class="button" type="button" (click)="resetForm()">
      Reset
    </button>
    
    <button class="button" type="submit" [disabled]="userForm.invalid">
      {{ student ? 'Edit' : 'Add' }}
    </button>

    <button class="button" type="button" (click)="checkFormStatus()">
      Check Form
    </button>
  </form>
</ng-container>
